.header{
    padding:0 30px;
    background: #fff;
    position: relative;
    direction: rtl;
}

.header-container {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s ease-in;
}

.header-logo {
    padding: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
  }

.nav-item{
    display: inline-block;
}

.nav-item a {
    text-decoration: none;
    position: relative;
    margin-left: 20px;
     color: var(--smoky-black);
     font-weight: bold;
}

.nav-item a::after{
    content: "";
    position: absolute;
    right : 0%;
    bottom:-35px;
    width:0;
    height: 4px;
    background-color:var(--blue-crayola-2);
    transition: all 0.5s;
}

.nav-item a:hover::after{
    width: 100%;
}

.request-invite-btn{
    background: linear-gradient(to left  ,var(--blue-crayola-2),var(--blue-crayola));
    border: none;
    display: grid;
    width: 150px;
    color: white;
    padding: 15px 20px;
    border-radius: 12px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
}

.request-invite-btn:hover{
    opacity: 0.5;
}


